# MaxScale documentation:
# https://mariadb.com/kb/en/mariadb-maxscale-24/

# Global parameters
#
# Complete list of configuration options:
# https://mariadb.com/kb/en/mariadb-maxscale-24-mariadb-maxscale-configuration-guide/

[maxscale]
threads=auto

# Server definitions
#
# Set the address of the server to the network
# address of a MariaDB server.
#

[server2]
type=server
address=database
port=3306
protocol=MariaDBBackend
ssl=true
ssl_ca_cert=/etc/sslcert/server.crt
ssl_cert=/etc/sslcert/client.crt
ssl_key=/etc/sslcert/client.key


[server1]
type=server
address=db
port=3306
protocol=MariaDBBackend


# Monitor for the servers
#
# This will keep MaxScale aware of the state of the servers.
# MariaDB Monitor documentation:
# https://mariadb.com/kb/en/mariadb-maxscale-24-mariadb-monitor/

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1
user=boby
password=heyPassw0@rd
monitor_interval=2000
failcount=50

[MariaDB-Monitor2]
type=monitor
module=mariadbmon
servers=server2
user=boby
password=heyPassw0@rd
monitor_interval=2000
failcount=50

# Service definitions
#
# Service Definition for a read-only service and
# a read/write splitting service.
#

# ReadConnRoute documentation:
# https://mariadb.com/kb/en/mariadb-maxscale-24-readconnroute/

[Read-Only-Service]
type=service
router=readconnroute
servers=server1
user=boby
password=heyPassw0@rd
router_options=slave

# ReadWriteSplit documentation:
# https://mariadb.com/kb/en/mariadb-maxscale-24-readwritesplit/

[Read-Write-Service]
type=service
router=readwritesplit
servers=server1
version_string=10.5.99-MariaDB-maxScale
user=boby
password=heyPassw0@rd

[Read-Write-Service2]
type=service
router=readwritesplit
version_string=10.5.99-MariaDB-maxScale
servers=server2
user=boby
password=heyPassw0@rd

# Listener definitions for the services
#
# These listeners represent the ports the
# services will listen on.
#

[Read-Only-Listener]
type=listener
service=Read-Only-Service
protocol=MariaDBClient
port=4008

[Read-Write-Listener]
type=listener
service=Read-Write-Service
protocol=MariaDBClient
port=4006


[Read-Write-Listener2]
type=listener
service=Read-Write-Service2
protocol=MariaDBClient
port=4009
ssl=true
ssl_ca_cert=/etc/sslcert/ca.crt
ssl_cert=/etc/sslcert/server.crt
ssl_key=/etc/sslcert/server.key
