{
  "globals": {
    "expect": true
  },
  "extends": [
    "prettier"
  ],
  "plugins": [
    "markdown"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "node": true
  }
}
