{
  "globals": {
    "expect": true
  },
  "plugins": [
    "markdown"
  ],
  "extends": [
    "prettier",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true,
     "es6": true
  }
}
