{
  "globals": {
    "expect": true
  },
  "plugins": [
    "markdown"
  ],
  "parser":  "@typescript-eslint/parser",
  "extends": [
    "prettier",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "node": true,
    "es2022": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "max-len": ["error", { "code": 120 , "ignoreStrings": true, "ignoreTemplateLiterals": true}]
  }
}
